.mat-focus-indicator.back-button.mat-icon-button.mat-button-base.ng-star-inserted {
    visibility:hidden;
    width:0px;
}

.search.ng-untouched.ng-pristine.ng-valid.ng-star-inserted {
    visibility:hidden;
}
